* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-color: #f4f4f4;
	color: #333;
}

body main h2 {
	text-align: center;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

.nav-bar-ul {
	display: flex;
	justify-content: space-between;
}

.nav-bar-ul div {
	margin: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin-left: 1rem;
}

ul {
	list-style-type: none;
}

main {
	padding: 2rem;
}

.hidden {
	display: none;
}
